$linkColor: #444;
$hoverColor: #eb4559;

$width: 15px;
$height: 15px;

$bounce_height: 30px;

.contact-container {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms ease-in-out;
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin: 70px auto;
        width: 60%;
        .card {
            margin: 0;
            h3 {
                text-transform: uppercase;
            }
            p, a {
                margin: 20px 0;
                line-height: 1.5rem;
                text-decoration: none;
                color: #000;
            }
            .form-container {
                width: 100%;
                .form-group {
                    margin: 15px 0;
                    .label, .form-control {
                        width: 100%;
                        display: block;
                        margin: 0 0 2px 0;
                        border-radius: 5px;
                        outline: none;
                        border-style:solid;
                        border:none;
                    }
                    .label {
                        font-size: 0.9rem;
                    }
                    .form-control{
                        margin-top: 5px;
                        padding: 10px 0 10px 5px;
                    }
                    .check {
                        margin: 0 0 20px;
                        color: $linkColor;
                    }
                    .text-warning {
                        margin-top: 5px;
                        color: $hoverColor;
                        font-size: 0.8rem;
                        line-height: 1rem;
                    }
                    .check-label {
                        margin-top: 20px;
                        display: flex;
                        p {
                            position: relative;
                            top: -2px;
                            margin: 0 0 2px 3px;
                            font-size: 0.9rem;
                        }
                    }
                }
                .button-group {
                    margin-top: 20px;
                    button {
                        padding: 10px 30PX;
                        border-radius: 5px;
                        border: 2px solid #777;
                        color: #777;
                        cursor: pointer;
                        transition: 0.1s ease-in-out;
                    }
                    button:hover {
                        color: #fff;
                        background-color: $hoverColor;
                        border: 2px solid $hoverColor;
                    }
                }
            }
        }
    }
    .loading-container {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        pointer-events: none;
        display: flex;
        div {
            height: 300px;
            width: 400px;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 4px 7px 8px 1px rgba(0,0,0,0.18);
            display: flex;
            margin: 0 auto;
            align-self: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text {
                color: #444;
                display: inline-block;
                margin-left: 5px;
            }
            .bounceball {
                position: relative;
                display: inline-block;
                height: 37px;
                width: $width;
                background-color: rgba(0, 0, 0, 0);
                box-shadow: none;
                    &:before {
                    position: absolute;
                        content: '';
                        display: block;
                        top: 0;
                        width: $width;
                        height: $height;
                        border-radius: 50%;
                        background-color: $hoverColor;
                        transform-origin: 50%;
                        animation: bounce 500ms alternate infinite ease;
                }
            }
            @keyframes bounce {
                0% {
                    top: $bounce_height;
                    height: 5px;
                    border-radius: 60px 60px 20px 20px;
                    transform: scaleX(2);
                }
                35% {
                    height: $height;
                    border-radius: 50%;
                    transform: scaleX(1);
                }
                100% {
                    top: 0;
                }
            }

        }
    }
}

