@mixin margin-padding-zero {
    margin: 0;
    padding: 0;
}

$width: 15px;
$height: 15px;


$bounce_height: 30px;

.item-detail-container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    .add-item-container {
        @include margin-padding-zero;
        width: 100%;
        display: flex;
        justify-content: center;
        section {
            width: 80%;
            display: grid;
            grid-template-columns: 1fr;
            .item-info {
                h1 {
                    margin: 40% 0 0;
                    text-transform: uppercase;
                }
                .item-number {
                    margin: 5px 0;
                    font-size: 0.8rem;
                }
                .item-price {
                    margin: 30px 0 10px;
                    font-size: 1.5rem;
                }
            }
            .buy-item-info {
                width: 100%;
                div {
                    display: flex;
                    justify-content: flex-start;
                    padding-top: 2px;
                }
                .add-button {
                    margin-top: 30px;
                }
                .loading-container {
                    position: fixed;
                    height: 100vh;
                    width: 100vw;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    div {
                        height: 300px;
                        width: 400px;
                        background-color: rgba(255, 255, 255, 1);
                        box-shadow: 4px 7px 8px 1px rgba(0,0,0,0.18);
                        display: flex;
                        margin: 0 auto;
                        align-self: center;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .text {
                            color: #444;
                            display: inline-block;
                            margin-left: 5px;
                        }
                        .bounceball {
                            position: relative;
                            display: inline-block;
                            height: 37px;
                            width: $width;
                            background-color: rgba(0, 0, 0, 0);
                            box-shadow: none;
                                &:before {
                                position: absolute;
                                    content: '';
                                    display: block;
                                    top: 0;
                                    width: $width;
                                    height: $height;
                                    border-radius: 50%;
                                    background-color: #444;
                                    transform-origin: 50%;
                                    animation: bounce 500ms alternate infinite ease;
                            }
                        }
                        @keyframes bounce {
                            0% {
                                top: $bounce_height;
                                height: 5px;
                                border-radius: 60px 60px 20px 20px;
                                transform: scaleX(2);
                            }
                            35% {
                                height: $height;
                                border-radius: 50%;
                                transform: scaleX(1);
                            }
                            100% {
                                top: 0;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media (max-width: 1366px) and (min-height: 1366px) {
    .item-detail-container {
        grid-template-rows: 1fr auto;
        grid-template-columns: repeat(1, 1fr);
        .add-item-container {
            section {
                width: 90%;
                grid-template-columns: 2fr;
                .item-info {
                    h1 {
                        margin: 2% 0 0;
                    }
                }
                .buy-item-info {
                    .add-button {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .item-detail-container {
        grid-template-rows: 1fr auto;
        grid-template-columns: repeat(1, 1fr);
        .add-item-container {
            section {
                width: 90%;
                grid-template-columns: 2fr;
                .item-info {
                    h1 {
                        margin: 2% 0 0;
                    }
                }
                .buy-item-info {
                    .add-button {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}