$white: #fff;
$black: #000;
$bgColor: #CFCFCF;
$containerColor: #E5E5E5;

@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin margin-padding-zero {
    margin: 0;
    padding: 0;
}

@mixin height-width-100 {
    height: 100vh;
    width: 100%;
}

.bg {

    width: 100%;
    @include margin-padding-zero;
    display: flex;
    justify-content: center;
    background: $bgColor;
    .container {
        width: 1366px;
        @include margin-padding-zero;
        display: grid;
        grid-template-rows: 80px auto 144px;
        background-color: $containerColor;
        justify-items: center;
        
    }
}

