
.item-container {
    position: relative;
    height: 250px;
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 4fr;
    list-style: none;
    background-color: rgb(250, 250, 250);
    z-index: 1;
    .item-image {
        height: 100%;
        width: 100%;   
    }
    .item-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        .info-group {
            h1 {
                margin: 45px 0 0 20px;
                text-transform: uppercase;
            }
            .item-number {
                margin: 5px 0 0 20px;
                font-size: 0.8rem;
            }
            .item-price {
                margin: 30px 0 10px 20px;
                font-size: 1.5rem;
                span {
                    font-size: 1.2rem;
                }
            }
            .item-description {
                margin-left: 20px;
                text-transform: uppercase;
            }
        }
        .buttons-group {
            height: 100%;
            .buttons {
                height: 100%;
                position: relative;
                display: grid;
                grid-template-rows: repeat(2 1fr);
                justify-content: center;
                align-items: center;

                div {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .item-container {
        height: auto;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        .item-image {
            height: 200px;
            width: 100%;   
        }
        .item-info {
            .info-group {
                h1 {
                    font-size: 1.8rem;
                }
                .item-description {
                    font-size: 0.9rem;
                }
            }
            .buttons-group {
                p {
                    margin-top: 40px;
                }
            }
        }
    }
}